header {
  background-image: url(https://cdn.pixabay.com/photo/2018/03/04/20/08/burger-3199088_960_720.jpg);
  color: white;
  font-family: 'Lobster', cursive;
  text-align: center;
  width: 100%;
  padding: 20px 0px 20px 0px;
}

li {
  padding: 5px;
  margin: 5px;
  background: lightgreen;
}

.label {
  font-weight: bold;
  font-family: 'Lobster', cursive;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
